body {
	padding-top: 70px;
	text-align: center;
}	
h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

p {
	font-family: "Comic Sans MS", cursive, sans-serif
}

.hwqewm {
width: 200px;
height: 176px;
position: fixed;
z-index: 99999;
bottom: 0px;
left: 0px;
right: 0px;
margin: 0px auto;
color: white;
}